<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="style/style.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Detalhes Eventos</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/cadastrarEvento" class="waves-effect waves-light btn-large"><i class="material-icons left">add_circle</i>Cadastrar Evento</a></li>
            </ul>
        </div>
    </nav>
</header>
<div th:each="evento : ${evento}" class="container detalheEvento">
        <h5>Detalhes do Evento</h5>
        <div class="row">
            <!-- PARA ACESSAR UM OBJETO E TRAZER UM OBJETO USAMOS A TAG SPAN NO FRONT END  -->
            <p>Nome: <span th:text="${evento.nome}"></span></p>
            <p>Local: <span th:text="${evento.local}"></span></p>
            <p>Data: <span th:text="${evento.data}"></span></p>
            <p>Horario: <span th:text="${evento.horario}"></span></p>
        </div>
</div>
    <!-- TAG PARA CHAMAR OUTRO HTML PARA EXECUTAR UM SCRIPT.  -->
    <th:block th:include="mensagemValidacao"></th:block>

         <!-- METODO POST PARA COLETA INFORMAÇÃO DO VIEW PARA O BANCO  -->
        <!-- METODO POST PARA COLETA INFORMAÇÃO DO VIEW PARA O BANCO  -->
    <!-- METODO POST PARA COLETA INFORMAÇÃO DO VIEW PARA O BANCO  -->
    <div class="container formConvidado">
        <form method="POST">
            Nome: <input type="text" value="" name="nomeConvidado" placeholder="Nome Completo">
            RG: <input type="text" value="" name="rg" placeholder="00.000.000.0">
            <div class="container botaoAdicionar">
                <button class="waves-effect waves-light btn-large" type="submit">Adicionar</button>
            </div>

        </form>
    </div>
<div>
    <!-- tech EACH PARA RECEBER OS DADOS DO CONVIDADO DA API QUE BUSCA NO BANCO.  -->
    <table class="container tabelaConvidado">
        <!-- SPAN PARA ACESSAR O CONTEUDO DO BACKEND E MOSTRAR  -->
        <thead>  <!-- TITULO DA TABELA  -->
            <th>Nome do convidado</th> <!-- ATRIBUTOS TITULOS DA TABELA  -->
            <th>RG</th>
            <th>Deletar</th>
        </thead>
        <tbody>
            <tr th:each="convidado : ${convidados}"><!-- PARA CADA CONVIDADO RECEBE CONVIDADO  -->
                 <td><span  th:text="${convidado.nomeConvidado}"></span></td>
                 <td><span  th:text="${convidado.rg}"></span></td>
                <td><a class="waves-effect waves-light btn-small"  th:href="${(#mvc.url('EC#deletarConvidado').arg(0,convidado.rg)).build()}"><i class="material-icons">delete</i></a></td>
        </tr>
        </tbody>
    </table>
</div>




<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>